<section>
    {{> header}}
</section>
<img src="../loader.gif" class="loader" style="display:none;">
{{#condition session.role 'ROOT'}}
    <div class="container main-content">
        <h2 class="small-heading"><b>All Employees</b></h2>
        <div class="table-style">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#if employees }}
                        {{#each employees}}
                            <tr>
                                <td class="s-no">{{this.first_name}} {{this.last_name}}</td>
                                <td class="s-no">{{this.email}}</td>
                                <td class="s-no">{{this.phone_number}}</td>
                                <td class="s-no">{{this.status}}</td>
                                <td class="s-no">
                                    <input type="button" class="input__button" value="Edit" onclick="edit(`/employee/{{this.id}}`)">
                                    <input type="button" class="input__button" value="Delete" onclick="deleteEmployee({{this.id}})">
                                    <input type="button" class="input__button" value="Send Email" onclick="sendEmail(`{{this.id}}`, `employee`)">
                                    <input type="button" class="input__button" value="Send Whatsapp" onclick="sendWhatsApp(`{{this.id}}`, `employee`)">
                                </td>
                            </tr>
                        {{/each}}
                    {{else}}
                        <tr>
                            <td colspan="5">No Data Found</td>
                        </tr>
                    {{/if}}
                </tbody>
            </table>
        </div>
    </div>
{{/condition}}
<div class="container main-content">
    <h2 class="small-heading"><b>All Users</b></h2>
    <div class="table-style">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{#if all_users }}
                    {{#each all_users}}
                        <tr>
                            <td class="s-no">{{this.first_name}} {{this.last_name}}</td>
                            <td class="s-no">{{this.email}}</td>
                            <td class="s-no">{{this.phone_number}}</td>
                            <td class="s-no">{{this.status}}</td>
                            <td class="s-no">
                                {{#condition ../session.role 'ROOT'}}
                                    <input type="button" class="input__button" value="Edit" onclick="edit(`/user/{{this.id}}`)">
                                    <input type="button" class="input__button" value="Delete" onclick="deleteUser({{this.id}})">
                                    <input type="button" class="input__button" value="Send Email" onclick="sendEmail(`{{this.id}}`, `user`)">
                                    <input type="button" class="input__button" value="Send Whatsapp" onclick="sendWhatsApp(`{{this.id}}`, `user`)">
                                {{/condition}}
                                {{#condition ../session.role 'EMPLOYEE'}}
                                    <input type="button" class="input__button" value="Edit" onclick="edit(`/user/{{this.id}}`)">
                                    <input type="button" class="input__button" value="Send Email" onclick="sendEmail(`{{this.id}}`, `user`)">
                                    <input type="button" class="input__button" value="Send Whatsapp" onclick="sendWhatsApp(`{{this.id}}`, `user`)">
                                {{/condition}}
                                {{#condition ../session.role 'USER'}}
                                    <input type="button" class="input__button" value="Edit" onclick="edit(`/user/{{this.id}}`)">
                                {{/condition}}
                            </td>
                        </tr>
                    {{/each}}
                {{else}}
                    <tr>
                        <td colspan="5">No Data Found</td>
                    </tr>
                {{/if}}
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready( function () {
        $('.table').DataTable();
    });

    function deleteUser(id){
        deleteRecord(id, "USER")
    }

    function deleteEmployee(id){
       deleteRecord(id, "EMPLOYEE")
    }

    function deleteRecord(id, type){
        $('.loader').show();
        $.ajax({
            url: "/delete/user",
            method: 'post',
            data: {
                id: id,
                type: type
            },
            success: function (result) {
                $('.loader').hide();
                if(result.status){
                    alert(`${type} Deleted Successfully`);
                    location.reload()
                }else{
                    alert(`Error in Deleting ${type} ! Please Try Again`);
                }
            },
            error: function (error){
                $('.loader').hide();
                console.log("error: ", error)
                alert("Something Went Wrong! Please Try Again");
            }
        });
    }
    
    function edit(data){
        window.location.href = data
    }

    function sendWhatsApp(id, type){
        sendMessage(id, type, "whatsapp")
    }

    function sendEmail(id, type){
        sendMessage(id, type, "email")
    }

    function sendMessage(id, userType, messageType){
        $('.loader').show();
         $.ajax({
            url: "/send/message",
            method: 'post',
            data: {
                id: id,
                userType: userType,
                messageType: messageType
            },
            success: function (result) {
                $('.loader').hide();
                if(result.status){
                    alert(`${messageType} Successfully sent`);
                    location.reload()
                }else{
                    alert(`Error in sending ${messageType} ! Please Try Again`);
                }
            },
            error: function (error){
                $('.loader').hide();
                console.log("error: ", error)
                alert("Something Went Wrong! Please Try Again");
            }
        });
    }

</script>